{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/newline-after-import": "error",
    "import/prefer-default-export": "off"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint"
}
