.table__nav{
        display: inline-block;
        margin-right: 1.2rem;
          &__select{
            font-size: 1.2rem !important;
            line-height: 3rem;
            font-weight: 600;
            color:  #444444;
            height: 2.9rem;
            border-radius: 2px;
          }
          &__item{
              font-size: 1.2rem;
              color: #222222;
              opacity: 0.4;
          }
          .ant-select-selection--single{
              height: 2.9rem;
              line-height: 3rem;
              border-radius: 2px;
    
          }  
}
 .ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover{
    opacity: 1;
    background-color: #f3d999;
    color: #444444;
 }
 