.u_position_fixed {
  position: fixed;
}
.u_position_absolute {
  position: absolute;
}
.u_position_relative {
  position: relative;
}

.u_clear_both {
  clear: both;
}
.u_float_left {
  float: left;
}
.u_float_right {
  float: right;
}

.u_text_center {
  text-align: center;
}
.u_text_right {
  text-align: right;
}
.u_text_left {
  text-align: left;
}

.u_no_wrap {
  white-space: nowrap;
}
.u_cursor_pointer {
  cursor: pointer !important;
}
.u_text_transform_uppercase {
  text-transform: uppercase;
}
.u_text_transform_capitalize {
  text-transform: capitalize;
}

.u_font_weight_bold {
  font-weight: bold;
}

.u_margin_auto {
  margin: 0 auto;
}
.u_margin_bottom_0 {
  margin-bottom: 0;
}

.u_margin_top_10 {
  margin-top: 1rem;
}

.u_margin_right_10 {
  margin-right: 1rem;
}

.u_opacity_0 {
  opacity: 0;
}

.u_display_block {
  display: block;
}
.u_display_inline_block {
  display: inline-block;
}

.u_align_vertical_top {
  vertical-align: top;
}
.u_align_vertical_middle {
  vertical-align: middle;
}

.u_background_none {
  background: none;
}
.u_border_none {
  border: none;
}
.u_display_none {
  display: none;
}
.u_display_flex {
  display: flex;
}
.u_list_style_none {
  list-style-type: none;
}

.ant-table-thead > tr > th {
  background-color: #ffffff !important;
  min-width: 8rem;
}

.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-selected:hover,
.ant-select-dropdown-menu-item-selected:focus {
  opacity: 1;
  background-color: #f3d999 !important;
  color: #444444;
}

.ant-select-dropdown-menu-item-active {
  opacity: 1;
  background-color: #fff9e9 !important;
  color: #444444;
}

.u_table-container {
  // margin-top:2rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  th {
    text-transform: capitalize;
  }
}
