.bulk-upload{
    display: flex;
    &__text{
      font-family: "helveticaneue-medium";
      font-size: 1.4rem;
      font-weight: 500;
      color: #222222;
      margin-bottom: 1rem;
    }
      &-selectfile{
        width: 60%;    
        .ant-upload {
           width: 100%;
         }    
        .ant-btn{
           width: 100%;
           height: 4.4rem; 
           border-top-right-radius: 0px;
           border-bottom-right-radius: 0px;
        }
        &-placeholder{
           color: #bfbfbf;
        }
    }
    &-btn{
        height: 4.4rem; 
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        font-family: "helveticaneue-medium";
        font-size: 1.4rem;
        font-weight: 500;
        color: #222222;
        background-color: rgba(235, 191, 85, 0.6);
        border: none;
    }
}